<template>
	<div
		class='u-datepicker__button'
		:class='{ active: isActive }'
		:style="{ width: typeof width == 'number' ? width + 'px' : width }"
		@click='handleClickEvent'
	>
		<div class='u-datepicker__button-wrapper'>
			<span class='u-datepicker__button__text'>{{ text || '' }}</span>
			<span class='u-datepicker__button__icon'></span>
		</div>
	</div>
</template>

<script lang='ts'>

import { Component, Vue, Prop, Emit } from 'vue-property-decorator';

@Component
export default class UDatePickerButton extends Vue {

	@Prop({ type: [ String, Number ], default: '' })
	readonly text!: string;

	@Prop({ type: [ String, Number ], default: 'auto' })
	readonly width!: string | number;

	@Prop({ type: Boolean, default: false })
	readonly isActive!: boolean;

	@Prop({ type: Boolean, default: false })
	readonly disabled!: boolean;

	public handleClickEvent() {
		if (!this.disabled) this.emitClickEvent();
	}

	@Emit('clicked')
	emitClickEvent() {}

}

</script>

<style lang='sass' scoped>

@import ../../style/func

.u-datepicker__button
	&__icon
		display: inline-block
		width: 8px
		height: 16px
		background-image: url("../../img/icons/expand_more_black_24dp.svg")

	&-wrapper
		display: flex
		justify-content: space-between
		align-items: center
		height: 32px
		cursor: pointer
		background-color: #F5F5F5
		border-radius: 4px
		padding-left: 10px
		padding-right: 11.5px
		border: 1px solid transparent
		transition: 200ms linear

	&__text
		letter-spacing: -0.32px
		color: $black
		font-size: 16px

	&:hover
		.u-datepicker__button
			&-wrapper
				background-color: #E6E6E6

	&.active
		.u-datepicker__button
			&-wrapper
				background-color: $white
				border-color: #10295A

</style>