<template>
	<div
		class='u-datepicker__arrow'
		@click="$emit('clicked')"
	>
		<div class='u-datepicker__arrow-wrapper'>
			<span
				class='u-datepicker__arrow__icon'
				:class='{ left, right }'
			></span>
		</div>
	</div>
</template>

<script lang='ts'>

import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class UDatePickerArrow extends Vue {

	@Prop({ type: Boolean, default: true })
	left!: boolean;

	@Prop({ type: Boolean, default: false })
	right!: boolean;

}

</script>

<style lang='sass' scoped>

@import ../../style/func

.u-datepicker__arrow
	display: block
	width: 32px
	height: 32px
	text-align: center
	cursor: pointer

	&-wrapper
		display: flex
		justify-content: center
		align-items: center
		width: 100%
		height: 100%

	&__icon
		display: inline-block
		width: 5px
		height: 8px

		&.left
			background-image: url("../../img/icons/navigate_before_black_24dp.svg")

		&.right
			background-image: url("../../img/icons/navigate_next_black_24dp.svg")

</style>