<template>
	<div
		:class="{
			'u-datepicker__day': true,
			out: day.isOut,
			disabled: day.disabled,
			active: day.isActive,
			'start-range': isStartRange,
			'finish-range': isLastRange
		}"
	>
		<div class='u-datepicker__day-wrapper'>
			<div
				class='u-datepicker__day__content'
				@click='handleClickEvent(day)'
			>
				<span class='u-datepicker__day__text'>{{ day.day }}</span>
			</div>
		</div>
	</div>
</template>

<script lang='ts'>

import { Component, Vue, Prop, Emit } from 'vue-property-decorator';
import { IDatePickerDay } from '@/types/interface';

@Component
export default class UDatePickerDay extends Vue {

	@Prop({
		type: Object,
		default: () => ({
			disabled: false,
			year: 0,
			month: 0,
			day: 0,
			isOut: false,
			isStartRange: false,
			isLastRange: false
		})
	})
	readonly day!: IDatePickerDay;

	public handleClickEvent(day: IDatePickerDay) {
		if (!day.disabled) this.emitClickEvent(day);
	}

	get isStartRange(): boolean {
		return this.day.isStartRange;
	}

	get isLastRange(): boolean {
		return this.day.isLastRange;
	}

	@Emit('clicked')
	emitClickEvent(day: IDatePickerDay) {
		return day;
	}

}

</script>

<style lang='sass' scoped>

@import ../../style/func

.u-datepicker__day
	display: block
	width: 14.2857%
	height: u-datepicker-calc-day-size($u-datepicker-day-height, $u-datepicker-day-padding)
	text-align: center

	@include py($u-datepicker-day-padding)

	&-wrapper
		display: block
		width: 100%
		height: 100%
		position: relative
		overflow: hidden

		@include px($u-datepicker-day-padding)
		@include u-datepicker-day-range

	&__content
		display: block
		width: $u-datepicker-day-width
		height: $u-datepicker-day-height
		position: relative
		border-radius: 50%
		cursor: pointer
		transition: 150ms linear
		z-index: 2
		border: $u-datepicker-day-border-width solid transparent
		margin: 0 auto

		@include u-datepicker-day-hover

		&::before
			content: ''
			display: block
			width: calc(100% + #{$u-datepicker-day-border-width * 2})
			height: calc(100% + #{$u-datepicker-day-border-width * 2})
			position: absolute
			left: -$u-datepicker-day-border-width
			top: -$u-datepicker-day-border-width
			z-index: 1
			transform: scale(.7)
			opacity: 0
			transition: 200ms ease-in-out
			background-color: #10295A
			border-radius: 50%

	&__text
		display: inline-block
		line-height: $u-datepicker-day-height
		color: #222730
		letter-spacing: -0.32px
		font-size: 16px
		position: relative
		z-index: 2
		margin-top: -$u-datepicker-day-border-width
		transition: color 200ms ease-in-out

	&.out
		.u-datepicker__day
			&__text
				color: #A5B3BF

	&.active
		.u-datepicker__day
			&__text
				color: $white

			&__content
				background-color: $white

				&::before
					transform: scale(1)
					opacity: 1

	&.disabled
		.u-datepicker__day
			&__content
				cursor: not-allowed
				background-color: transparent

			&__text
				color: #999999

</style>

<style lang='sass'>

@import ../../style/func

.u-datepicker__day
	&.start-range
		~ .u-datepicker__day
			.u-datepicker__day-wrapper::before
				transform: scaleY(1)
				opacity: 1

			.u-datepicker__day__content
				@include u-datepicker-day-in-range-hover

		.u-datepicker__day-wrapper::before
			width: 50%
			transform: scaleY(1)
			opacity: 1
			left: 50%

		&:not(.active)
			.u-datepicker__day-wrapper::before
				width: 100%
				left: 0

			.u-datepicker__day__content
				@include u-datepicker-day-in-range-hover

	&.finish-range
		~ .u-datepicker__day
			.u-datepicker__day-wrapper::before
				transform: scaleY(0)

			.u-datepicker__day__content
				@include u-datepicker-day-hover

		.u-datepicker__day-wrapper::before
			width: 50%

		&:not(.active)
			.u-datepicker__day-wrapper::before
				width: 100%

		&.start-range
			.u-datepicker__day-wrapper::before
				left: 0

</style>