@import ./vars

@function u-datepicker-calc-day-size($size, $padding)
	@return $size + ($padding * 2)

@mixin py($v)
	padding-top: $v
	padding-bottom: $v

@mixin px($v)
	padding-left: $v
	padding-right: $v

@mixin u-datepicker-month()
	&::before
		content: ''
		display: block
		width: 100%
		height: 100%
		border: 1px solid #10295A
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%) scale(1.2)
		opacity: 0
		border-radius: 6px
		visibility: hidden
		transition: 200ms ease-in-out

@mixin u-datepicker-month-active()
	&::before
		transform: translate(-50%, -50%) scale(1)
		opacity: 1
		visibility: visible

@mixin u-datepicker-day-range()
	&::before
		content: ''
		display: block
		width: 100%
		height: 100%
		position: absolute
		bottom: 0
		left: 0
		z-index: 1
		opacity: .5
		background-color: #F3F4F9
		transform: scaleY(0)
		transition: 200ms ease-in-out

@mixin u-datepicker-day-hover()
	&:hover
		background-color: #F5F5F5
		border-color: transparent

	&:active
		background-color: #E6E6E6
		border-color: transparent

@mixin u-datepicker-day-in-range-hover()
	&:hover
		border-color: #F3F4F9
		background-color: rgba(255, 255, 255, .7)

	&:active
		border-color: #F3F4F9
		background-color: rgba(255, 255, 255, 1)

@mixin u-datepicker-shadow()
	&.shadow
		border-radius: 8px
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 8px 24px rgba(0, 0, 0, 0.08)

@mixin u-datepicker-date-action($className, $itemHeight)
	.u-datepicker__#{$className}
		display: block
		width: 33.33%
		height: $itemHeight
		padding: 3px

		&-wrapper
			display: block
			width: 100%
			height: 100%
			text-align: center
			cursor: pointer
			border: 1px solid transparent
			background-color: #F5F5F5
			border-radius: 6px
			transition: 150ms linear
			position: relative

			@include u-datepicker-month

			&:hover
				background-color: #E6E6E6

			&:active
				@include u-datepicker-month-active

		&__text
			color: $black
			font-size: 16px
			letter-spacing: -0.32px
			line-height: $itemHeight - 8px

		&.active
			.u-datepicker__#{$className}
				&-wrapper
					cursor: default

					@include u-datepicker-month-active

		&.disabled
			.u-datepicker__#{$className}
				&-wrapper
					border-color: transparent !important
					cursor: not-allowed
					background-color: #FBFBFB

					&::before
						display: none

				&__text
					color: #999999