.u-datepicker
	&__app
		font-family: 'Roboto', sans-serif

	&__headline
		border-bottom: 1px solid silver
		padding-bottom: 8px
		margin: 0 0 28px 0
		padding-top: 32px

	&__link
		color: darkblue
		text-decoration: none

		&:hover
			text-decoration: underline