@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

.u-datepicker
	font-size: 16px
	font-family: 'Roboto', sans-serif

	&, *
		margin: 0
		padding: 0
		box-sizing: border-box
		background-color: transparent
		background-position: center
		background-repeat: no-repeat
		background-size: cover
		-webkit-tap-highlight-color: transparent