@import ./func

@mixin u-datepicker-sm()
	.u-datepicker
		display: none

		.u-datepicker-wrapper
			.u-datepicker
				&__button,
				&__month,
				&__year
					&__text
						font-size: 14px

				&__days
					padding-top: 1px

				&__month
					height: 55.5px

					&__text
						line-height: 47.5px

				&__year
					height: 44.4px

					&__text
						line-height: 36.4px

				&__content
					height: 254px

					&.reduced-height
						height: 216px

					&.stretch-height
						height: 292px

				&__week
					&__text
						font-size: 10px

				&__day
					height: u-datepicker-calc-day-size($u-datepicker-day-height-sm, $u-datepicker-day-padding-sm)

					@include py($u-datepicker-day-padding-sm)

					&-wrapper
						@include px($u-datepicker-day-padding-sm)

					&__text
						font-size: 14px
						line-height: $u-datepicker-day-height-sm

					&__content
						width: $u-datepicker-day-width-sm
						height: $u-datepicker-day-height-sm