<template>
	<div :class="{
		'u-datepicker': true,
		shadow: !withoutShadow,
		'full-width': fullWidth
	}">
		<div class='u-datepicker-wrapper'>

			<div class='u-datepicker__action'>

				<div class='u-datepicker__action__item'>
					<UDatePickerArrow
						left
						@clicked='setPrevDate'
					/>
				</div>

				<div class='u-datepicker__action__item'>
					<div class='u-datepicker__button-group'>

						<UDatePickerButton
							:text='currentMonthTitle'
							:isActive="step === 'MONTH'"
							width='121px'
							class='mr-2'
							@clicked="setStep('MONTH')"
						/>

						<UDatePickerButton
							:text='currentYear'
							:isActive="step === 'YEAR'"
							width='88px'
							@clicked="setStep('YEAR')"
						/>

					</div>
				</div>

				<div class='u-datepicker__action__item'>
					<UDatePickerArrow
						right
						@clicked='setNextDate'
					/>
				</div>

			</div>

			<div
				class='u-datepicker__content'
				:class="{
					'stretch-height': stretchHeight,
					'reduced-height': reducedHeight
				}"
			>

				<div
					:class="{
						'u-datepicker__content-item': true,
						active: step === 'DAY'
					}"
				>

					<UDatePickerWeeks :weeks='dayLocale' />

					<div class='u-datepicker__days'>
						<div class='u-datepicker__days-wrapper'>
							<UDatePickerDay
								v-for='(i, idx) in days'
								:key="'day-item-' + idx"
								:day='i'
								@clicked='setDay'
							/>
						</div>
					</div>

				</div>

				<div
					:class="{
						'u-datepicker__content-item': true,
						active: step === 'MONTH'
					}"
				>
					<div class='u-datepicker__date-list'>
						<UDatePickerMonth
							v-for='(i, idx) in months'
							:key="'month-item-' + idx"
							:month='i'
							@clicked='setMonth'
						/>
					</div>
				</div>

				<div
					:class="{
						'u-datepicker__content-item': true,
						active: step === 'YEAR'
					}"
				>
					<div class='u-datepicker__date-list'>
						<UDatePickerYear
							v-for='(i, idx) in years'
							:key="'year-item-' + idx"
							:year='i'
							@clicked='setYear'
						/>
					</div>
				</div>

			</div>

		</div>
	</div>
</template>

<script lang='ts'>

import { Mixins, Component, Watch, Emit } from 'vue-property-decorator';
import UDatePickerAllProps from '../../mixins/UDatePickerAllProps';
import UDateMonthOperations from '../../mixins/UDateMonthOperations';
import {
	IDatePickerDay,
	EDatePickerType,
	TDatePickerType,
	TDatePickerSelectedDays,
	IDatePickerSelectedDate,
	IDatePickerDate,
	TDatePickerDayKey,
	TDatePickerMonthKey,
	TDatePickerYearKey,
	TDatePickerDayVal,
	TDatePickerMonthVal,
	TDatePickerYearVal,
	TDatePickerLimit
} from '../../types/interface';

import UDatePickerArrow from '../Arrow/Arrow.vue';
import UDatePickerButton from '../Button/Button.vue';
import UDatePickerWeeks from '../Weeks/Weeks.vue';
import UDatePickerDay from '../Day/Day.vue';
import UDatePickerMonth from '../Month/Month.vue';
import UDatePickerYear from '../Year/Year.vue';

@Component({
	components: {
		UDatePickerArrow,
		UDatePickerButton,
		UDatePickerWeeks,
		UDatePickerDay,
		UDatePickerMonth,
		UDatePickerYear
	}
})
export default class UDatePicker extends Mixins(UDatePickerAllProps, UDateMonthOperations) {

	protected dateIncreasedHandlersByStep: { [key: string]: string } = {
		DAY: 'setNextMonth',
		MONTH: 'setNextYear',
		YEAR: 'setNextYearsList'
	};

	protected dateDecreasedHandlersByStep: { [key: string]: string } = {
		DAY: 'setPrevMonth',
		MONTH: 'setPrevYear',
		YEAR: 'setPrevYearsList'
	};

	protected valueWatcherLocked: boolean = false;

	// ----------------------------------------

	protected setDayMethodsPrefix: string = 'setDayFrom';

	protected setDayMethodsPostfix: string = 'Type';

	protected setDayMethodsDelimiter: string = '_';

	// ----------------------------------------

	protected setSelectedDayMethodsPrefix: string = 'setSelectedDayFrom';

	// ----------------------------------------

	protected setSelectedDaysByModelMethodsPrefix: string = 'setSelectedDaysByModelFrom';

	// ----------------------------------------

	public days: IDatePickerDay[] = [];

	public selectedDays: TDatePickerSelectedDays = [];

	// ----------------------------------------

	created() {
		this.setMinByISOStr()
			.setMaxByISOStr()
			.initYears()
			.initMonths()
			.setSelectedDaysByModel();
	}

	// ----------------------------------------

	protected setSelectedDayFromDaysRangeType() {
		this.clearActiveDays()
			.clearDayRanges()
			.setSelectedDayFromMultipleDaysType()
			.setRangeFromSelected();
	}

	protected setSelectedDayFromOnlyDayType() {
		if (!this.selectedDays[0]) return;

		this.getDateByISO(this.selectedDays[0])
			.setDayProp('isActive', true);

		if (this.finishRange) this.setOneSideRangeFromSelectedDay();

		if (this.startRange) this.setOneSideRangeFromSelectedDay(false);
	}

	protected setSelectedDayFromMultipleDaysType(): this {
		if (this.selectedDays.length) {
			this.selectedDays.forEach(i => i
				? this.getDateByISO(i).setDayProp('isActive', true)
				: undefined);
		}

		return this;
	}

	protected getSetSelectedDayMethodName(): string {
		return this.setSelectedDayMethodsPrefix +
			this.getSetDayCapitalizedMethodName() +
			this.setDayMethodsPostfix;
	}

	public setDaysBySelected() {
		try {
			(<any>this)[this.getSetSelectedDayMethodName()]();
		} catch (err) {
			console.warn('setDaysBySelected', err);
		}
	}

	// ----------------------------------------

	public setDateByCurrent(): this {
		this.days = this.getFilledMonthDates(this.currentMonth, this.currentYear);

		this.setDaysBySelected();

		return this;
	}

	protected updateDisabledDates(): this {
		this.days.forEach(i => {
			i.disabled = this.isDisabledDay(i.month, i.year, i.day);

			if (i.disabled && i.isActive) {
				i.isActive = false;

				this.removeSelectedDay(i);
			}
		});

		return this;
	}

	// ----------------------------------------

	protected setOneSideRangeFromSelectedDay(isLastRange: boolean = true) {
		if (!this.days[0]) return;

		this.setRangeToActiveDay(isLastRange);

		const firstDay: number = this.getDateNumByISOStr(this.getISODateByDay(this.days[0]));
		const currentDay: number = this.getDateNumByISOStr(this.selectedDays[0] || '');

		if (isLastRange ? (firstDay <= currentDay) : (firstDay >= currentDay))
			this.days[0].isStartRange = true;
	}

	protected setDayToLastRange(day: IDatePickerDay) {
		this.clearDayRanges();

		this.days[0].isStartRange = true;

		day.isLastRange = true;
	}

	protected unsetDayLastRange(day: IDatePickerDay) {
		this.days[0].isStartRange = false;

		day.isLastRange = false;
	}

	protected setDayRangeFromOnlyFinish() {
		this.$nextTick(() => {
			this.clearDayRanges().setRangeToActiveDay();

			if (this.selectedDays.length) this.days[0].isStartRange = true;
		});
	}

	protected setDayRangeFromOnlyStart() {
		this.$nextTick(() => this.clearDayRanges().setRangeToActiveDay(false));
	}

	protected setDayToStartRange(day: IDatePickerDay) {
		this.clearDayRanges();

		day.isStartRange = true;
	}

	protected setRangeToActiveDay(isLastRange: boolean = true): this {
		for (let i = 0; i < this.days.length; i++) {
			if (this.days[i].isActive) {
				this.days[i][isLastRange ? 'isLastRange' : 'isStartRange'] = true;

				break;
			}
		}

		return this;
	}

	// ----------------------------------------

	protected setDayFromDaysRangeType(day: IDatePickerDay) {
		day.isActive = !day.isActive;

		this.clearYearRanges()
			.clearMonthRanges()
			.clearDayRanges();

		if (this.selectedDays.length >= 2) {

			if (day.isActive) {

				this.clearActiveDays(day.day)
					.clearSelectedDays()
					.addSelectedDay(day);

			} else {
				this.removeSelectedDay(day);
			}

		} else if (this.selectedDays.length) {
			this[day.isActive ? 'addSelectedDay' : 'removeSelectedDay'](day);
		} else {
			this.addSelectedDay(day);
		}

		if (this.selectedDays.length >= 2) {
			this.sortSelected().setRangeFromSelected();
		}
	}

	protected setDayFromOnlyDayType(day: IDatePickerDay) {
		this.clearActiveDays(day.day)
			.clearSelectedDays();

		day.isActive = !day.isActive;

		if (day.isActive) {

			this.selectedDays[0] = this.getISODateByDay(day);

			if (this.finishRange) this.setDayToLastRange(day);
			if (this.startRange) this.setDayToStartRange(day);

		} else {

			if (this.finishRange) this.unsetDayLastRange(day);
			if (this.startRange) day.isStartRange = false;

		}
	}

	protected setDayFromMultipleDaysType(day: IDatePickerDay) {
		day.isActive = !day.isActive;

		this.updateSelectedDaysFromAllDays();
	}

	protected getSetDayCapitalizedMethodName(delimiter: string = this.setDayMethodsDelimiter): string {
		return this.datepickerType
			.split(delimiter)
			.map(i => i[0].toUpperCase() + i.slice(1).toLowerCase())
			.join('');
	}

	protected getSetDayMethodName(): string {
		return this.setDayMethodsPrefix +
			this.getSetDayCapitalizedMethodName() +
			this.setDayMethodsPostfix;
	}

	protected updateSelectedDaysFromAllDays() {
		this.days.forEach(i => i.isActive
			? (
				this.existSelectedDay(i)
					? undefined
					: this.addSelectedDay(i)
			)
			: this.removeSelectedDay(i));
	}

	protected existSelectedDay(day: IDatePickerDay): boolean {
		return (this.getSelectedDayIdx(day) > -1);
	}

	protected getSelectedDayIdx(day: IDatePickerDay): number {
		return this.selectedDays.indexOf(this.getISODateByDay(day));
	}

	protected removeSelectedDay(day: IDatePickerDay) {
		const idx: number = this.getSelectedDayIdx(day);

		if (idx > -1) this.selectedDays.splice(idx, 1);
	}

	protected addSelectedDay(day: IDatePickerDay) {
		this.selectedDays.push(this.getISODateByDay(day));
	}

	protected sortSelected(): this {
		this.selectedDays = this.selectedDays.sort((a, b): number => {
			const _a: number = this.getDateNumByISOStr(a || '');
			const _b: number = this.getDateNumByISOStr(b || '');

			return _a - _b;
		});

		return this;
	}

	protected setFirstDayAsStartRange() {
		if (!this.days[0] || !this.selectedDays[1] || !this.selectedDays[0]) return;

		const currentDateNum: number = this.getDateNumByISOStr(this.getISODateByDay(this.days[0]));
		const startDateNum: number = this.getDateNumByISOStr(this.selectedDays[0]);
		const finishDateNum: number = this.getDateNumByISOStr(this.selectedDays[1]);

		if (currentDateNum < finishDateNum && currentDateNum > startDateNum)
			this.days[0].isStartRange = true;
	}

	protected setRangeFromSelected(): this {
		if (!this.selectedDays[0] || !this.selectedDays[1]) return this;

		const startDate: IDatePickerSelectedDate = this.getDateByISO(this.selectedDays[0]);

		if (startDate.day) {
			startDate.setMainProps('isStartRange', true);
		} else {
			this.setFirstDayAsStartRange();
		}

		this.getDateByISO(this.selectedDays[1])
			.setMainProps('isLastRange', true);

		return this;
	}

	protected getDateByISO(v: string): IDatePickerSelectedDate {
		return {

			...this.findDayByISO(v),

			setDayProp(key: TDatePickerDayKey, val: TDatePickerDayVal) {
				try {
					(<any>this).day[key] = val;
				} catch {
				}

				return this;
			},

			setMonthProp(key: TDatePickerMonthKey, val: TDatePickerMonthVal) {
				try {
					(<any>this).month[key] = val;
				} catch {
				}

				return this;
			},

			setYearProp(key: TDatePickerYearKey, val: TDatePickerYearVal) {
				try {
					(<any>this).year[key] = val;
				} catch {
				}

				return this;
			},

			setMainProps(key: TDatePickerYearKey, val: TDatePickerYearVal) {
				return this.setDayProp(key, val)
					.setYearProp(key, val)
					.setMonthProp(key, val);
			}

		};
	}

	protected findDayByISO(v: string): IDatePickerDate {
		let [ year, month, day ] = v.split('-') as Array<string | number>;

		year = Number(year);
		month = Number(month);
		day = Number(day);

		return {
			day: this.days.find(i => i.day === day && i.month === month && i.year === year),
			month: this.months.find(i => i.month === month && i.year === year),
			year: this.years.find(i => i.year === year)
		};
	}

	protected uniqueSelectedDays() {
		if (this.selectedDays[0] === this.selectedDays[1]) {
			this.selectedDays.pop();
		}
	}

	protected setSelectedDaysByModelFromOnlyDayType() {
		if (!this.value) return;

		if (!this.isDisabledISODate(this.value[0])) {

			this.selectedDays[0] = this.value[0];

			if (this.finishRange) this.setDayRangeFromOnlyFinish();
			if (this.startRange) this.setDayRangeFromOnlyStart();

		} else {

			if (this.finishRange) this.clearDayRanges();

		}
	}

	protected setSelectedDaysByModelFromMultipleDaysType() {
		if (!this.value || !this.value.length) return;

		this.selectedDays = this.value.filter(i => !this.isDisabledISODate(i));
	}

	protected setSelectedDaysByModelFromDaysRangeType() {
		if (!this.value) return;

		if (!this.isDisabledISODate(this.value[0]))
			this.selectedDays[0] = this.value[0];
		else
			this.selectedDays.shift();

		if (!this.isDisabledISODate(this.value[1]))
			this.selectedDays[this.selectedDays[0] ? 1 : 0] = this.value[1];
		else if (this.selectedDays[1])
			this.selectedDays.pop();
		else
			this.uniqueSelectedDays();
	}

	protected getSetSelectedDaysByModelMethodName(): string {
		return this.setSelectedDaysByModelMethodsPrefix +
			this.getSetDayCapitalizedMethodName() +
			this.setDayMethodsPostfix;
	}

	public setSelectedDaysByModelType() {
		try {
			(<any>this)[this.getSetSelectedDaysByModelMethodName()]();
		} catch (err) {
			console.warn('setSelectedDaysByModelType', err);
		}
	}

	public setSelectedDaysByModel() {
		if (!this.value || !this.value.length) {

			if (this.selectedDays.length) {
				this.clearDayRanges()
					.clearActiveDays()
					.clearSelectedDays();
			}

		} else {
			this.setSelectedDaysByModelType();

			const currentISOYearAndMonth: string = this.getISOYearAndMonth(this.currentMonth, this.currentYear);

			if (this.selectedDays.find(i => (i || '').indexOf(currentISOYearAndMonth) > -1)) {
				this.setDaysBySelected();
			} else {
				this.setCurrentYearAndMonthByFirstSelectedDay(this.selectedDays[0] || '');
			}
		}
	}

	public setPrevDate() {
		try {
			(<any>this)[this.dateDecreasedHandlersByStep[this.step]]();
		} catch (err) {
			console.warn('setPrevDate()', err);
		}
	}

	public setNextDate() {
		try {
			(<any>this)[this.dateIncreasedHandlersByStep[this.step]]();
		} catch (err) {
			console.warn('setNextDate()', err);
		}
	}

	public setDay(day: IDatePickerDay) {
		(<any>this)[this.getSetDayMethodName()](day);
	}

	protected clearActiveDays(skipDay?: number): this {
		for (let i = 0; i < this.days.length; i++) {
			if (this.days[i].isActive && this.days[i].day !== skipDay) {
				this.days[i].isActive = false;
			}
		}

		return this;
	}

	protected clearSelectedDays(): this {
		this.selectedDays = [];

		return this;
	}

	protected clearDayRanges(): this {
		this.days.forEach(i => i.isStartRange = i.isLastRange = false);

		return this;
	}

	get stretchHeight(): boolean {
		return (this.days.length > 35 && this.step === 'DAY');
	}

	get reducedHeight(): boolean {
		return (this.days.length < 35 && this.step === 'DAY');
	}

	get datepickerType(): TDatePickerType {
		return this.range
			? EDatePickerType.DAYS_RANGE
			: (
				this.multiple
					? EDatePickerType.MULTIPLE_DAYS
					: EDatePickerType.ONLY_DAY
			);
	}

	@Watch('currentMonth')
	onCurrentMonthChanged() {
		this.setDateByCurrent();
	}

	@Watch('currentYear')
	onCurrentYearChanged() {
		this.setDateByCurrent()
			.updateMonthListFromCurrentYear()
			.clearActiveYear()
			.showCurrentYear()
			.setCurrentYearIsActive();
	}

	@Watch('selectedDays')
	onSelectedDaysChanged(v: string[]) {
		if ((!v || !v.length) && (!this.value || !this.value.length)) return;

		this.valueWatcherLocked = true;

		this.emitUpdateSelectedDays(v);

		this.$nextTick(() => this.valueWatcherLocked = false);
	}

	@Watch('value')
	onValueChanged() {
		if (!this.valueWatcherLocked) this.setSelectedDaysByModel();
	}

	@Watch('min')
	onMinChanged(v: TDatePickerLimit) {
		this.setMinByISOStr(v)
			.updateDisabledDates()
			.updateMonthListFromCurrentYear()
			.updateYearsListFromCurrentYear();
	}

	@Watch('max')
	onMaxChanged(v: TDatePickerLimit) {
		this.setMaxByISOStr(v)
			.updateDisabledDates()
			.updateMonthListFromCurrentYear()
			.updateYearsListFromCurrentYear();
	}

	@Watch('disabledDates')
	onDisabledDatesChanged() {
		this.updateDisabledDates();
	}

	@Watch('startRange')
	onStartRangeChanged(v: boolean) {
		this[v ? 'setDayRangeFromOnlyStart' : 'clearDayRanges']();
	}

	@Watch('finishRange')
	onFinishRangeChanged(v: boolean) {
		this[v ? 'setDayRangeFromOnlyFinish' : 'clearDayRanges']();
	}

	@Emit('input')
	emitUpdateSelectedDays(v: string[]): string[] {
		return v;
	}

}

</script>

<style scoped lang='sass'>

@import ../../style/func

.u-datepicker
	display: block
	width: 345px
	background-color: $white
	user-select: none
	overflow: hidden

	@include u-datepicker-shadow

	&.full-width
		width: 100%

	&__content
		position: relative
		height: 282px
		will-change: height
		transition: height 300ms ease-in-out

		&.stretch-height
			height: 326px

		&.reduced-height
			height: 238px

		&-item
			display: block
			width: 100%
			position: absolute
			background-color: $white
			top: 72px
			z-index: 1
			opacity: 0
			left: 0
			transition: 300ms ease-in-out
			visibility: hidden

			&.active
				z-index: 2
				opacity: 1
				top: 16px
				visibility: visible

	&__days
		display: flex
		justify-content: center
		padding: 2px 16px 0 16px

		&-wrapper
			display: flex
			flex-wrap: wrap
			width: 100%

	&__action
		display: flex
		justify-content: space-between
		align-items: center
		padding-top: 12px
		margin: 0 8px

	&__button-group
		display: flex

	&__date-list
		display: flex
		flex-wrap: wrap
		margin: -3px -3px 0 -3px
		justify-content: center
		padding: 0 16px

</style>