<template>
	<div
		:class="{
			'u-datepicker-range': true,
			shadow: !withoutShadow
		}"
	>
		<div class='u-datepicker-range-wrapper'>

			<UDatePicker
				v-model='startDate'
				:day-locale='dayLocale'
				:month-locale='monthLocale'
				without-shadow
				:years-count='yearsCount'
				:disabled-dates='disabledDates'
				:min='min'
				:max='maxForStart'
				:start-range='startRange'
			/>

			<UDatePicker
				v-model='finishDate'
				:day-locale='dayLocale'
				:month-locale='monthLocale'
				without-shadow
				:years-count='yearsCount'
				:disabled-dates='disabledDates'
				:min='minForFinish'
				:max='max'
				:finish-range='finishRange'
			/>

		</div>
	</div>
</template>

<script lang='ts'>

import { Component, Mixins, Emit, Watch } from 'vue-property-decorator';
import UDatePickerMainProps from '@/mixins/UDatePickerMainProps';
import UDatePickerLimitProps from '@/mixins/UDatePickerLimitProps';
import UDateYearProps from '@/mixins/UDateYearProps';
import UDateMonthProps from '@/mixins/UDateMonthProps';
import { TDatePickerModel } from '@/types/interface';

import UDatePicker from './UDatePicker.vue';

@Component({
	components: {
		UDatePicker
	}
})
export default class URangeDatePicker extends Mixins(
	UDatePickerMainProps,
	UDatePickerLimitProps,
	UDateYearProps,
	UDateMonthProps
) {

	public startDate: string[] = [];

	public finishDate: string[] = [];

	protected modelWatcherLocked: boolean = false;

	created() {
		if (this.value && this.value.length) this.updateDatesFromModel();
	}

	public updateDatesFromModel(v: TDatePickerModel = this.value) {
		if (!v || !v.length) {

			this.startDate = [];
			this.finishDate = [];

		} else {

			this.startDate = v[0] ? [ v[0] ] : [];
			this.finishDate = v[1] ? [ v[1] ] : [];

		}
	}

	protected actionOnModelLocked(callback: () => void) {
		this.modelWatcherLocked = true;

		try {
			if (callback && typeof callback == 'function') callback();
		} catch {
		}

		this.$nextTick(() => this.modelWatcherLocked = false);
	}

	get maxForStart(): string {
		return this.finishDate[0] || '';
	}

	get minForFinish(): string {
		return this.startDate[0] || '';
	}

	get startRange(): boolean {
		return !!this.finishDate.length;
	}

	get finishRange(): boolean {
		return !!this.startDate.length;
	}

	get rangeDate(): string[] {
		return [ this.startDate[0], this.finishDate[0] ].filter(i => !!i);
	}

	@Watch('rangeDate')
	onRangeDateChanged(v: string[]) {
		this.actionOnModelLocked(() => this.emitUpdateDatePickerVals(v));
	}

	@Watch('value')
	onValueChanged(v: TDatePickerModel) {
		if (!this.modelWatcherLocked) this.updateDatesFromModel(v);
	}

	@Emit('input')
	emitUpdateDatePickerVals(v: TDatePickerModel): TDatePickerModel {
		return v;
	}

}

</script>

<style scoped lang='sass'>

@import ../../style/func

.u-datepicker-range
	display: inline-block
	overflow: hidden

	@include u-datepicker-shadow

	&-wrapper
		display: flex

</style>