<template>
	<div
		class='u-datepicker__year'
		:class='{
			active: year.isActive,
			disabled: year.disabled
		}'
	>
		<div
			class='u-datepicker__year-wrapper'
			@click='handleClickEvent(year)'
		>
			<span class='u-datepicker__year__text'>{{ year.year }}</span>
		</div>
	</div>
</template>

<script lang='ts'>

import { Component, Vue, Prop, Emit } from 'vue-property-decorator';
import { IDatePickerYear } from '@/types/interface';

@Component
export default class UDatePickerYear extends Vue {

	@Prop({
		type: Object,
		default: () => ({
			disabled: false,
			isActive: false,
			year: 0,
			isStartRange: false,
			isLastRange: false
		})
	})
	readonly year!: IDatePickerYear;

	public handleClickEvent(year: IDatePickerYear) {
		if (!year.disabled) this.emitClickEvent(year);
	}

	get isStartRange(): boolean {
		return this.year.isStartRange;
	}

	get isLastRange(): boolean {
		return this.year.isLastRange;
	}

	@Emit('clicked')
	emitClickEvent(year: IDatePickerYear) {
		return year;
	}

}

</script>

<style lang='sass' scoped>

@import ../../style/func

@include u-datepicker-date-action($u-datepicker-year-class, $u-datepicker-year-height)

</style>