<template>
	<div class="u-datepicker__app px-3 pb-3">
		<h2 class="u-datepicker__headline" id="single">
			<a href="#single" class="u-datepicker__link"># Single</a>
		</h2>

		<UDatePicker
			v-model="single"
		/>

		<h2 class="u-datepicker__headline" id="multiple">
			<a href="#multiple" class="u-datepicker__link"># Multiple</a>
		</h2>

		<UDatePicker
			v-model="multiple"
			multiple
		/>

		<h2 class="u-datepicker__headline" id="single-range">
			<a href="#single-range" class="u-datepicker__link"># Single range</a>
		</h2>

		<UDatePicker
			v-model="singleRange"
			range
		/>

		<h2 class="u-datepicker__headline" id="range">
			<a href="#range" class="u-datepicker__link"># Range</a>
		</h2>

		<URangeDatePicker
			v-model="range"
		/>

		<h2 class="u-datepicker__headline" id="full-width-single-range">
			<a href="#full-width-single-range" class="u-datepicker__link"># Full-width single range</a>
		</h2>

		<UDatePicker
			v-model="fullWidthSingleRange"
			without-shadow
			full-width
			range
		/>

		<h2 class="u-datepicker__headline" id="full-width-multiple">
			<a href="#full-width-multiple" class="u-datepicker__link"># Full-width multiple</a>
		</h2>

		<UDatePicker
			v-model="fullWidthMultiple"
			without-shadow
			full-width
			multiple
		/>
	</div>
</template>

<script lang="ts">

import { Component, Vue } from "vue-property-decorator";
import UDatePicker from './components/DatePicker/UDatePicker.vue';
import URangeDatePicker from './components/DatePicker/URangeDatePicker.vue';
import moment from "moment";

@Component({
	components: {
		UDatePicker,
		URangeDatePicker
	}
})
export default class App extends Vue {

	single: string[] = [
		moment().add(-2, 'days').format('YYYY-MM-DD')
	]

	multiple: string[] = [
		moment().add(-6, 'days').format('YYYY-MM-DD'),
		moment().add(-5, 'days').format('YYYY-MM-DD'),
		moment().add(-4, 'days').format('YYYY-MM-DD'),
		moment().add(2, 'days').format('YYYY-MM-DD'),
		moment().add(4, 'days').format('YYYY-MM-DD'),
		moment().add(5, 'days').format('YYYY-MM-DD')
	]

	singleRange: string[] = [
		moment().add(-12, 'days').format('YYYY-MM-DD'),
		moment().add(1, 'days').format('YYYY-MM-DD')
	]

	range: string[] = [
		moment().add(-2, 'days').format('YYYY-MM-DD'),
		moment().add(-1, 'days').format('YYYY-MM-DD')
	]

	fullWidthSingleRange: string[] = [
		moment().add(-10, 'days').format('YYYY-MM-DD'),
		moment().add(-3, 'days').format('YYYY-MM-DD')
	]

	fullWidthMultiple: string[] = [
		moment().add(-9, 'days').format('YYYY-MM-DD'),
		moment().add(-8, 'days').format('YYYY-MM-DD'),
		moment().add(-7, 'days').format('YYYY-MM-DD'),
		moment().add(3, 'days').format('YYYY-MM-DD')
	]

}

</script>