<template>
	<div class='u-datepicker__weeks'>
		<div
			class='u-datepicker__week'
			v-for='(i, idx) in weeks'
			:key="'week-item-' + idx"
		>
			<span class='u-datepicker__week__text'>{{ i }}</span>
		</div>
	</div>
</template>

<script lang='ts'>

import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class UDatePickerWeeks extends Vue {

	@Prop({ type: Array, default: () => [] })
	weeks!: string[];

}

</script>

<style lang='sass' scoped>

@import ../../style/func

.u-datepicker__weeks
	display: flex
	justify-content: center
	padding: 0 16px

.u-datepicker__week
	display: block
	width: 14.2857%
	height: 30px
	background-color: #F5F5F5
	text-align: center

	&__text
		line-height: 30px
		color: #6D7885
		letter-spacing: 0.06px
		font-size: 11px

</style>