<template>
	<div
		class='u-datepicker__month'
		:class='{
			active: month.isActive,
			disabled: month.disabled
		}'
	>
		<div
			class='u-datepicker__month-wrapper'
			@click='handleClickEvent(month)'
		>
			<span class='u-datepicker__month__text'>{{ month.title }}</span>
		</div>
	</div>
</template>

<script lang='ts'>

import { Component, Vue, Prop, Emit } from 'vue-property-decorator';
import { IDatePickerMonth } from '@/types/interface';

@Component
export default class UDatePickerMonth extends Vue {

	@Prop({
		type: Object,
		default: () => ({
			disabled: false,
			isActive: false,
			year: 0,
			month: 0,
			title: '',
			isStartRange: false,
			isLastRange: false
		})
	})
	readonly month!: IDatePickerMonth;

	public handleClickEvent(month: IDatePickerMonth) {
		if (!month.disabled) this.emitClickEvent(month);
	}

	get isStartRange(): boolean {
		return this.month.isStartRange;
	}

	get isLastRange(): boolean {
		return this.month.isLastRange;
	}

	@Emit('clicked')
	emitClickEvent(month: IDatePickerMonth) {
		return month;
	}

}

</script>

<style lang='sass' scoped>

@import ../../style/func

@include u-datepicker-date-action($u-datepicker-month-class, $u-datepicker-month-height)

</style>